Creating Database in python

In [2]:
## Create Mysql connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="1234"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000015D918CBCA0>

Creating Databases

In [3]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [4]:
cursor.execute('SHOW DATABASES')

In [5]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

Execute a New Databases And Drop Some Databases

In [6]:
cursor.execute('CREATE DATABASE sam1')

In [12]:
cursor.execute('SHOW DATABASES')

In [13]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sam1',)
('student',)
('sys',)
('world',)

In [14]:
cursor.execute('DROP DATABASE sam1')

In [16]:
cursor.execute('SHOW DATABASES')

In [17]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)